.top41 {
    color: rgb(191, 32, 38);
  text-align: left;
  font-family:  Helvetica;
  }

  .top42 {
    color: rgb(240, 228, 178);
  text-align: left;
  font-family:  Helvetica;
  }
  
  
  body {
      background-color: rgb(13, 20, 28);
      color: rgb(240, 228,178);
  }
  
  #p1 {

text-align: justify;
font-family:  Medium;
background-color: rgb(240,228, 178); 
color: rgb(191, 32, 38);
align-content: center;

  }
  
  button {
  
      color: rgb(240, 228, 178);
      background-color: rgb(191, 32, 38);
      height: 50px; width: 100px;
      position: fixed;
      border-radius: 25px;
      font-family: Roboto;
  
  }


  

        
.album {

height: 100px; width: 350px;
border-radius: 25px;
background-color: rgb(240, 228, 178);

}

.titulo1 {

    background-color: rgb(191, 32, 38);
    text-align: center;
}

.lista1 {

  text-decoration: none;
  font-family: Tahoma;

}

.lista2 {

  text-decoration: none;
  font-family: Tahoma;



}

.leftside {

display: flex;
column-gap: 400px;

}

